* {
  padding: 0;
  margin: 0; }

body {
  font-family: museo-sans, sans-serif; }

header {
  height: 110px;
  width: 600px;
  margin: 0 auto;
  display: flex; }
  header .site-branding {
    width: 80%; }
    header .site-branding p {
      position: relative;
      top: 35px;
      font-size: 34px;
      font-family: museo-sans, sans-serif;
      text-transform: uppercase;
      font-weight: lighter;
      font-style: normal;
      color: #A6A6A6;
      text-decoration: none; }
    header .site-branding a {
      text-decoration: none; }
  header .main-navigation li {
    float: right;
    position: relative;
    padding-right: 18px;
    top: 55px;
    font-family: museo-sans, sans-serif;
    font-size: 14px;
    text-transform: uppercase; }
    header .main-navigation li a {
      display: block;
      color: #A6A6A6; }
      header .main-navigation li a:visited {
        color: #A6A6A6; }
      header .main-navigation li a:hover {
        color: #00496B; }

.home .home-image {
  width: 750px;
  margin-left: auto;
  margin-right: auto; }
  .home .home-image img {
    padding: 12px;
    height: auto;
    max-width: 100%;
    border: 1px solid #a6a6a6; }

.page-id-265 #content {
  margin-bottom: 150px; }
  .page-id-265 #content #main {
    max-width: 760px;
    margin: 30px auto 0; }
    .page-id-265 #content #main ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      margin-left: 0; }
      .page-id-265 #content #main ul li {
        padding: 15px 15px 5px 15px; }
        .page-id-265 #content #main ul li img {
          width: 350px;
          height: 280px; }

.page-id-206 #primary {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  font-family: museo-sans, sans-serif;
  color: #A6A6A6; }
  .page-id-206 #primary h3 {
    font-size: 28px;
    font-family: museo-sans, sans-serif;
    font-weight: lighter;
    color: #59594D; }
  .page-id-206 #primary h4 {
    font-family: museo-sans, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #59594D; }
  .page-id-206 #primary ul {
    margin-left: 0; }
    .page-id-206 #primary ul li {
      list-style-type: none;
      padding-left: 0; }
  .page-id-206 #primary .about-content {
    max-width: 570px;
    padding: 23px;
    margin: 0 auto; }
  .page-id-206 #primary .bio {
    max-width: 570px;
    margin: 0 auto; }
  .page-id-206 #primary .container {
    max-width: 470px; }
  .page-id-206 #primary .home-image {
    max-width: 640px;
    margin: 45px auto 0; }
    .page-id-206 #primary .home-image img {
      height: auto;
      max-width: 100%; }
  .page-id-206 #primary footer {
    margin-top: 70px; }

.page-id-274 #main {
  max-width: 600px;
  margin: 0 auto; }
  .page-id-274 #main .home-image {
    width: 100%;
    text-align: center;
    margin-top: 30px; }
    .page-id-274 #main .home-image img {
      height: auto;
      max-width: 95%; }
    .page-id-274 #main .home-image h1 {
      font-size: 28px;
      font-family: museo-sans, sans-serif;
      font-weight: 100;
      color: #A6A6A6;
      margin-top: 15px; }
    .page-id-274 #main .home-image div.wpcf7 {
      margin: 0 auto !important;
      width: 450px;
      display: block;
      padding-top: 16px; }
      .page-id-274 #main .home-image div.wpcf7 .ajax-loader {
        margin: 0; }
      .page-id-274 #main .home-image div.wpcf7 .wpcf7-form p label {
        font-family: museo-sans, sans-serif;
        color: #A6A6A6;
        font-size: 13px;
        text-transform: uppercase; }
      .page-id-274 #main .home-image div.wpcf7 .wpcf7-form p input[type="text"],
      .page-id-274 #main .home-image div.wpcf7 .wpcf7-form p input[type="email"] {
        color: #A6A6A6;
        border-top: 1px solid #A6A6A6;
        border-bottom: 1px solid #A6A6A6;
        border-right: none;
        border-left: none;
        opacity: .3;
        padding: 9px;
        margin: 10px 0 24px; }
      .page-id-274 #main .home-image div.wpcf7 .wpcf7-form p textarea {
        color: #A6A6A6;
        border-top: 1px solid #A6A6A6;
        border-bottom: 1px solid #A6A6A6;
        border-right: none;
        border-left: none;
        opacity: .3;
        padding: 9px;
        margin: 10px 0 24px;
        width: 375px;
        height: 245px; }
      .page-id-274 #main .home-image div.wpcf7 .wpcf7-form p input[type="submit"] {
        background: #00496B;
        font-family: museo-sans, sans-serif;
        font-weight: 700;
        color: white;
        font-size: 12px;
        line-height: 1;
        padding: 15px 32px;
        border-radius: 10px;
        text-transform: uppercase;
        margin: 14px 0 55px 4px; }

footer {
  height: 90px;
  display: flex; }
  footer .icons {
    text-align: center;
    width: 100%; }
    footer .icons .fab {
      color: #A6A6A6;
      position: relative;
      top: 23px;
      font-size: 26px; }
      footer .icons .fab:visited {
        color: #A6A6A6; }
