//Variables
$primary-color: #A6A6A6;
$font: museo-sans, sans-serif;
$hover: #00496B;

$mobile: 'only screen and (max-width: 600px)';
$artGrid: 'only screen and (max-width: 800px)';
$gridMobile: 'only screen and (max-width: 490px)';
$singleArt: 'only screen and (max-width: 700px)';

@mixin opacity_element($value) {
	-webkit-filter: #{"opacity(#{$value})"};
	-moz-filter: #{"opacity(#{$value})"};
	filter: #{"opacity(#{$value})"};
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: $font;
}

//Header styling
header {
	height: 110px;
	width: 600px;
	margin: 0 auto;
	display: flex;

	@media #{$mobile} {
		height: 110px;
		width: 100%;
		margin: 0 auto;
		display: block;
		text-align: center;
	}

	.site-branding {
		width: 80%;

		@media #{$mobile} {
			width: 100%;
		}

		p {
			position: relative;
			top: 35px;
			font-size: 34px;
			font-family: $font;
			text-transform: uppercase;
			font-weight: lighter;
			font-style: normal;
			color: $primary-color;
			text-decoration: none;
		}

		a {
			text-decoration: none;
		}
	}
	.main-navigation .menu-toggle {
		display: none;

		@media #{$mobile} {
			display: block;
			margin: 0 auto;
			background: none !important;
			color: $primary-color;
			border: none;
			padding: 2px 30px;
			font-family: $font;
			cursor: pointer;
			font-size: 16px;

			.fas {
				font-size: 30px;
			}
		}
	}

	.main-navigation.toggled ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		height: 135px;
		background: white;
		width: 100%;
	}

	.main-navigation li {
		float: right;
		position: relative;
		padding-right: 18px;
		top: 55px;
		font-family: $font;
		font-size: 14px;
		text-transform: uppercase;

		@media #{$mobile} {
			padding: 2px;
			top: 15px;
		}

		a {
			display: block;
			color: $primary-color;

			&:visited {
				color: $primary-color;
			}

			&:hover {
				color: $hover;
			}
		}
	}
}

// Index image
.home .home-image {
	max-width: 780px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;

	img {
		padding: 12px;
		height: auto;
		width: 100%;
		border: 1px solid #a6a6a6;

		@media #{$mobile} {
			margin-top: 35px;
		}
	}
}

// Artwork grid page
.page-id-265 #content {
	margin-bottom: 150px;

	#main {
		max-width: 760px;
		margin: 30px auto 0;

		@media #{$mobile} {
			padding: 0 10px;
		}

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			list-style-type: none;
			margin-left: 0;

			li {
				padding: 15px 15px 5px 15px;

				@media #{$mobile} {
					margin-top: 15px;
				}

				img {
					width: 350px;
					height: 280px;

					@media #{$artGrid} {
						width: 262px;
						height: 192px;
					}

					@media #{$mobile} {
						width: 320px;
						height: 250px;
					}
				}

				.category-name {
					display: none;

					@media #{$mobile} {
						display: block;
					}
				}
			}
		}
	}
}

//About Page
.page-id-206 #primary {
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
	font-size: 13px;
	font-family: $font;
	color: $primary-color;

	h3 {
		font-size: 28px;
		font-family: $font;
		font-weight: lighter;
		color: #59594D;
	}

	h4 {
		font-family: $font;
		font-size: 13px;
		font-weight: 700;
		color: #59594D;
	}

	ul {
		margin: 0 10px;

		li {
			list-style-type: none;
			padding-left: 0;
			padding-top: 8px;
		}
	}

	.about-content {
		max-width: 570px;
		padding: 23px;
		margin: 0 auto;
	}

	.bio {
		max-width: 570px;
		margin: 0 auto;

		@media #{$mobile} {
			padding: 0 8px;
		}
	}

	.container {
		max-width: 470px;
	}

	.home-image {
		max-width: 640px;
		margin: 45px auto 0;

		img {
			height: auto;
			max-width: 100%;
		}
	}

	footer {
		margin-top: 70px;
	}
}

// Category Grid
.category #main {
	max-width: 750px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	@media #{$mobile} {
		width: 100%;
	}

	.category-title {
		width: 100%;
		text-transform: lowercase;
		text-align: center;
		font-size: 28px;
		margin: 10px 0 35px;
		font-family: $font;
		color: $primary-color;
	}

	.grid-item {
		padding: 18px;

		@media #{$mobile} {
			padding: 6px;
		}

		img {
			width: 200px;
			height: 200px;

			@media #{$gridMobile} {
				width: 250px;
				height: 200px;
			}
		}
	}
}

//SINGLE ARTWORK STYLES
.single #primary {
	padding: 15px;

	#main {
		text-align: center;

		.upfront {
			@media #{$artGrid} {
				width: 80%;
				margin: 0 auto;
			}
			@media #{$mobile} {
				width: 100%;
			}

			a {

				&:hover {
					color: red;
				}
			}
			.prev {
				position: absolute;
				top: 50%;
				left: 3%;
				text-decoration: none;
				font-family: $font;
				color: $primary-color;
				font-weight: bold;
				font-size: 35px;

				@media #{$artGrid} {
					left: 1%;
					font-size: 28px;
				}

				&:visited {
					color: $primary-color;
				}

				img {
					width: 13px;
					@include opacity_element(80%);
					&:hover {
						@include opacity_element(120%);
						cursor: pointer;
					}

					@media #{$mobile} {
						display: none;
					}
				}
			}
			.next {
				position: absolute;
				top: 50%;
				right: 3%;
				text-decoration: none;
				font-family: $font;
				color: $primary-color;
				font-weight: bold;
				font-size: 35px;

				@media #{$artGrid} {
					right: 1%;
					font-size: 28px;
				}

				&:visited {
					color: $primary-color;
				}
				img {
					width: 13px;
					@include opacity_element(80%);
					&:hover {
						@include opacity_element(140%);
						cursor: pointer;
					}

					@media #{$mobile} {
						display: none;
					}
				}
			}

			.close {
				width: 685px;
				margin: 0 auto;
				text-align: right;

				@media #{$artGrid} {
					width: 100%;
				}
				#xx {
					width: 12px;
					@include opacity_element(80%);

					&:hover {
						@include opacity_element(140%);
						cursor: pointer;
					}
				}

				a {
					text-decoration: none;
					font-family: $font;
					color: $primary-color;
					font-size: 18px;

					&:visited {
						color: $primary-color;
					}
				}
			}

			img {
				height: auto;
				width: 685px;

				@media #{$artGrid} {
					width: 100%;
				}
			}
		}
		.artwork-container {
			text-align: center;
			margin-top: 45px;
			font-family: $font;
			font-size: 14px;
			color: $primary-color;
			text-transform: uppercase;

			& > span {
				@media #{$mobile} {
					display: block;
				}
			}

			.comma {
				@media #{$mobile} {
					display: none;
				}
			}
		}
	}
}

//Galleries Page
.page-id-290 #primary {
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
	font-size: 13px;
	font-family: $font;
	color: $primary-color;

	h3 {
		width: 100%;
		text-transform: lowercase;
		text-align: center;
		font-size: 32px;
		margin: 10px 0 35px;
		font-family: $font;
		font-weight: lighter;
		color: $primary-color;
	}

	ul {
		list-style-type: none;
		margin-left: 0;

		#container {
			margin-bottom: 40px;

			h4 {
				font-family: $font;
				font-size: 18px;
				font-weight: 700;
				color: #707064;
			}

			p {
				display: block;
				margin-bottom: 0;
			}
		}
	}

}

//Contact Page
.page-id-274 #main {
	max-width: 600px;
	margin: 0 auto;

	.home-image {
		width: 100%;
		text-align: center;
		margin-top: 30px;

		img {
			height: auto;
			max-width: 95%;

			@media #{$mobile} {
				margin-top: 30px;
			}
		}

		h1 {
			font-size: 28px;
			font-family: $font;
			font-weight: 100;
			color: $primary-color;
			margin-top: 15px;
		}

		div.wpcf7 {
			margin: 0 auto !important;
			width: 450px;
			display: block;
			padding-top: 16px;

			@media #{$mobile} {
				width: 100%;
			}

			.ajax-loader {
				margin: 0;
			}

			.wpcf7-form p label {
				font-family: $font;
				color: $primary-color;
				font-size: 13px;
				text-transform: uppercase;
			}

			.wpcf7-form p input[type="text"],
			.wpcf7-form p input[type="email"] {
				color: $primary-color;
				border: 1px solid $primary-color;
				opacity: .3;
				padding: 9px;
				margin: 10px 0 24px;
			}
			.wpcf7-form p textarea {
				color: $primary-color;
				border: 1px solid $primary-color;
				opacity: .3;
				padding: 9px;
				margin: 10px 0 24px;
				width: 375px;
				height: 245px;
			}

			.wpcf7-form p input[type="submit"] {
				background: $hover;
				font-family: $font;
				font-weight: 700;
				color: white;
				font-size: 12px;
				line-height: 1;
				padding: 15px 32px;
				border-radius: 10px;
				text-transform: uppercase;
				margin: 14px 0 55px 4px;
				cursor: pointer;

				&:hover {
					background-color: #4F91C5;
				}
			}
		}
	}
}

//footer
footer {
	height: 90px;
	display: flex;

	.icons {
		text-align: center;
		width: 100%;

		.fab {
			color: $primary-color;
			position: relative;
			top: 23px;
			font-size: 26px;

			&:hover {
				color: $hover;
			}

			&:visited {
				color: $primary-color;
			}
		}
	}
}

////////

.grid-container {
	position: relative;
	width: 100%;
	background: black;
	height: 280px;

	@media #{$artGrid} {
		height: 192px;
	}

	@media #{$mobile} {
		height: 250px;
	}

	&:hover .image {
		opacity: 0.2;
	}

	&:hover .middle {
		opacity: 1;
	}

	.image {
		opacity: 1;
		display: block;
		width: 100%;
		height: auto;
		transition: .5s ease;
		backface-visibility: hidden;
	}

	.middle {
		width: 350px;
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;

		@media #{$artGrid} {
			width: 262px;
		}

		.text {
			color: $primary-color;
			font-size: 24px;
			padding: 0 10px;
			font-family: $font;
			text-decoration: none !important;

			@media #{$artGrid} {
				font-size: 20px;
			}
		}
	}
}

.hidden-title {
	display: none;

	@media #{$mobile} {
		display: block;
		text-align: center;
		margin-bottom: 0;
		padding-top: 10px;
		font-size: 20px;
		font-family: $font;
		color: $primary-color;
	}
}




